/*
 ________      ________       ________      
|\   ____\    |\   ____\     |\   ____\     
\ \  \___|    \ \  \___|_    \ \  \___|_    
 \ \  \        \ \_____  \    \ \_____  \   
  \ \  \____    \|____|\  \    \|____|\  \  
   \ \_______\    ____\_\  \     ____\_\  \ 
    \|_______|   |\_________\   |\_________\
                 \|_________|   \|_________|
*/


.img_perfil{

	border-radius: 150px; 
	
}

 a { 
	text-decoration: none;
	
	pointer-events: none;
	cursor: default;	
}

.exper{
	margin: 5px;
	padding: 5px;

}


.botton {
	
	text-align: center;
}


.skil{
	position: relative;
	top: 0,5px;
}	


.employment {
	
}

.experience {
	display: block;
	position: relative;
    top: -55px;
	margin: 5px;
	padding: 5px;
}

