/*
 ________      ________       ________      
|\   ____\    |\   ____\     |\   ____\     
\ \  \___|    \ \  \___|_    \ \  \___|_    
 \ \  \        \ \_____  \    \ \_____  \   
  \ \  \____    \|____|\  \    \|____|\  \  
   \ \_______\    ____\_\  \     ____\_\  \ 
    \|_______|   |\_________\   |\_________\
                 \|_________|   \|_________|
*/

:root{
	--color--black:#4d4a49;
	
	--color--nav:#3b4852;
	
	--color--while:#f7f3f2;
	
	--color--blue: #158799;
	
}

/*==main==*/

#main{
	width: 50px
}

.icon a {
	color: var(--color--black);
	margin: 2px;
	padding: 5px;
}

.icon i{
	margin: 7px;
	padding: 2px;
}


nav  {
 background-color: var(--color--nav);	
}

nav H5{
	color: white;
	margin: 7px 7px 5px;
	padding: 2px;
}

.header h2  {
   margin: 8px;
}

.header p{
	margin: 5px
}


.img_perfil{

	border-radius: 150px; 
	
}


/*==/main==*/


/*==info==*/

.skil{	
	position: relative;
	top: 0,5px;
	
}

.skil a i {
	color: var(--color--blue);
	margin: 5px;
	padding: 2px;
}

.skil .progress{
	background-color: var(--color--while);
}

/*==/info==*/



.cart img {
	width: auto;
	height: 190px;
	object-fit: cover;
	
}





/*==content==*/

 a { 
	text-decoration: none;
	
	pointer-events: none;
	cursor: default;	
}

.exper{
	margin: 5px;
	padding: 5px;

}


.botton {
	
	text-align: center;
}


/*==/content==*/

	






